@model List<AssetManagement_CommonLibrary.Models.Asset>

<h2>Assets</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Value</th>
            <th>Currency</th>
            <th>Date Created</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model)
        {
            <tr>
                <td>@asset.Id</td>
                <td>@asset.Name</td>
                <td>@asset.Category</td>
                <td>@asset.Value</td>
                <td>@asset.Currency</td>
                <td>@asset.DateCreatedInDb.ToShortDateString()</td>
                <td>@asset.Location</td>
            </tr>
        }
    </tbody>
</table>
